.login_page{
    background-color: azure;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 8%;
    padding-bottom: 3%;
    padding-top: 03%;
    width:18%;
    margin: auto;
    box-shadow: 5px 10px #888888;
    
}
input:hover{
    border-color: blue  ;
}

form{
    margin: auto;

}
body{
    background-color: rgb(60, 128, 128);
}
h1{
    margin: auto;
    padding-top: 5%;
    padding-bottom:3% ;
    font-family:Georgia;
}
.button{
    background-color: rgb(179, 174, 33);
    border-radius: 8px;
    width: 30%;
    padding: 02%;
    margin-left: 13%;
}